[2021-04-28 21:39] MattReimer opened #1 "Icon woes"
Problem 1: Retina displays

Icons look terrible on retina displays. Need to research how fallbacks work

<img width="348" alt="Screen Shot 2021-04-28 at 2 30 20 PM" src="https://user-images.githubusercontent.com/1063391/116475315-8350ba80-a82e-11eb-8041-34bc1061dc88.png">

Problem 2: night mode icons

need to see if there's a night mode flag we can query then provide lighter icons

<img width="348

[2021-04-28 22:01] philipbaileynar commented on #1
I agree on the night mode problem.

But the toolbar icons are fine but perhaps a little small.

[2021-04-29 16:14] MattReimer commented on #1
The screenshot doesn't do it justice. On my 4K screen they are super pixelated and all other QGis plugins look great.

[2021-04-30 19:38] MattReimer opened #2 "Support transparency attribute"
Businesslogic layer transparency isn't supported yet.

[2021-04-30 19:39] MattReimer opened #3 "Multiple projects open at once"
ArcRave supports multiple projects but QRave was designed with the project as a singleton.

This is going a significant re-organization but it should be do-able.

[2021-04-30 19:40] MattReimer opened #4 "Symbology qml not loading correctly"
In the Demo with Joe and Nick the qml file for intermittent vector layers didn't load properly. Investigate why and fix.

[2021-04-30 23:02] philipbaileynar opened #5 "Toolbar Icons Disabled upon first install"
Kinda big deal, because most users won't know how to proceed...

Why can't the default state of these buttons be set to True? There's no situation where these buttons ever need to be disabled.

<img width="1472" alt="Screen Shot 2021-04-30 at 10 17 43 AM" src="https://user-images.githubusercontent.com/8645379/116761766-5c7cba80-a9cd-11eb-88f3-cbdff87595d2.png">

[2021-04-30 23:05] philipbaileynar opened #6 "Acknowledgements Not Updating"
@joewheaton has edited the [ackownedlgements markdown file](https://github.com/Riverscapes/RaveAddIn/blob/master/docs/dotnetack.md) and the new content is appearing in ArcRAVE About dialog. It is not showing in QRAVE:

<img width="554" alt="Screen Shot 2021-04-30 at 4 03 02 PM" src="https://user-images.githubusercontent.com/8645379/116761919-bc736100-a9cd-11eb-85fe-2c39f19726af.png">

<img width="

[2021-04-30 23:06] MattReimer commented on #5
Yes, there is a case but I take your point about the importance.

[2021-05-04 15:56] MattReimer opened #7 "Metadata.txt version not updating on plugin build."
Small bug. fix the python deployment

[2021-05-04 21:42] MattReimer opened #8 "Respect the "collapsed" attribute in the business logic"
right now it doesn't . Should be an easy fix.

[2021-05-05 15:59] #5 closed

[2021-05-05 15:59] #6 closed

[2021-05-05 15:59] #4 closed

[2021-05-05 15:59] #7 closed

[2021-05-05 15:59] #8 closed

[2021-05-05 16:00] #3 closed

[2021-05-05 16:03] MattReimer opened #10 "Layers getting added into the map in the incorrect order"
I'm putting this issue here to start tracking evidence. Sometimes it seems like when you add a layer to the map the layer goes into the right hierarchy and group but the layer may be in the wrong order relative to its peers.

Reproducibility seems a bit squidgy on this so post below if you have steps.

One thing to consider is that if you do any manual re-ordering in the tree the plugin might have

[2021-05-05 16:45] MattReimer opened #11 "About screen broken in 0.2.0"
This is an easy one but i'm putting it here so it gets tracked. this will be in the next version

[2021-05-05 17:02] MattReimer commented on #11
This is fixed. It will be in 0.3.0

[2021-05-11 15:29] MattReimer opened #13 "Project-level "Add all to map" broken"
When right clicking on a project and selecting "Add all to map" there is a python error

[2021-05-11 15:36] MattReimer opened #14 "Map layers cannot be added twice"
Right now if a map layer appears twice in the business logic with the exact same name it cannot be added to the map.

A good example is loading a vbet project and then trying to load the hillshade from the rscontext "DEM Hillshade" from the RSContext project.

We need to check both the name of the layer AND the path in the tree to determine uniqueness.

[2021-05-12 18:05] MattReimer opened #15 "Empty tree branches causing errors"
When a business logic repeater or folder node has no items  we get an error.

We definitely need to just account for this.

[code]

[2021-05-13 21:37] MattReimer opened #16 "BLOCKING: Allow QGIS LTS support"
We need to test on both the current QGIS AND the LTS version.

Right now we're calling a method `.setOpacity` that was introduced in 3.18. LTS is 3.16 and therefore we get a broken plugin.

[2021-05-13 22:07] MattReimer commented on #2
Regression here. Related to #16

The setOpacity method is not available before 3.18 so we need a workaround for the LTR version of QGIS.

[2021-05-13 22:55] #13 closed

[2021-05-13 22:55] #2 closed

[2021-05-13 22:55] #14 closed

[2021-05-14 16:08] #16 closed

[2021-05-18 00:44] joewheaton opened #18 "Some Unexpected Updates..."
Hey @MattReimer I don't know if this whole 10 minute video is worth watching, but thought I would put this up here in case you are unaware of some of this.
[![](http://img.youtube.com/vi/3c2Mpq7240M/0.jpg)](http://www.youtube.com/watch?v=3c2Mpq7240M "")

- I am running QGIS version 3.12.1-București
- I started out video with old version of QRAVE installed: 0.2 (see [here](https://youtu.be/3c2Mpq72

[2021-05-18 01:18] joewheaton opened #19 "TOC Display Order Not Consistent with ArcRAVE"
Hey @MattReimer, this new version of QRAVE is sweet! We have one pretty annoying little problem in which the display order that layers are added from QRAVE to Q's "Layers" Table of Contents is not consistent with how ArcRAVE works. In the video below I illustrate this:
[![](http://img.youtube.com/vi/BVTHESLa9-0/0.jpg)](http://www.youtube.com/watch?v=BVTHESLa9-0 "")

Put more concisely than the vid

[2021-05-18 01:20] joewheaton commented on #19
Sorry @MattReimer I didn't see #10 obviously!

[2021-05-18 01:21] joewheaton commented on #19
Duplicate #10

[2021-05-18 05:11] MattReimer commented on #18
Hey @joewheaton all of that is good feedback. Some of that might be solved when we flip this plugin's experimental switch off.

The upgrade problems are worrying but also very hard to test. I'll keep an eye on that for sure and put some time aside to test upgrade workflows.

When you upgrade the plugin it might not go look for the new qml files immediately because there's no hook for plugin updati

[2021-05-18 06:32] joewheaton commented on #18
Thanks @MattReimer... all makes sense. Just wanted to make sure you were aware in case it comes up for users and we know what to tell them, or if we need to make a few notes in "install" and "update" instructions.

[2021-05-18 15:43] MattReimer commented on #19
Hey @joewheaton this is not precisely a duplicate of #10 and there are actually about 3-4 issues bundled into this conversation.

First off I will say, if you are moving layers around then the plugin will absolutely fail to place layers correctly because it tries to figure out where to put a layer by comparing the project tree structure to the business logic structure and navigating that in a sens

[2021-05-18 15:48] joewheaton commented on #19
@MattReimer this does require more consideration, but I really like seeing the options you spelt out here. For now, my initial impression is I kind of like Suggestion 3. We have struggled with display order over and over, but I think the crux of the problem si we've been thinking too much about what is the logical order to display the tree to a user and we've been totally inconsistent. For example

[2021-05-18 16:07] MattReimer commented on #19
For the record these weren't `OR` gated suggestions. If I was the end user I would do all 3 because none of them are that hard and it makes the tool better for me.... but I am not the majority end user, just the center of my own little universe. 😺

[2021-05-18 16:09] joewheaton commented on #19
LoL... Well all three it is (that will get Pip's reaction)..
_____________________
Dr. Joseph M. Wheaton
435-554-1247 (direct) | http://www.joewheaton.org

On Tue, May 18, 2021 at 10:08 AM Matt ***@***.***> wrote:

[2021-05-18 17:00] philipbaileynar commented on #19
1. I normally despise duplication, but in this case I really like @MattReimer suggestion of duplication project view layer trees to enable rapidly turning on and off visibility of entire groups of layers.
2. As I have tried to communicate in the past, a business logic tree is fundamentally incompatible with ToC may layer tree. We could kill ourselves trying to reconcile the two sets of requirement

[2021-05-18 17:15] MattReimer commented on #10
Note: this is not a duplicate of #19

This bug refers to weird behaviour that isn't captured by the bugs specified in #19 so I'm going to keep it open

[2021-05-22 15:32] MattReimer opened #20 "Loads of errors loading VBET Project"
The issue where this was brought up:
https://github.com/Riverscapes/RiverscapesXML/issues/79

This is related to Joe's video

https://youtu.be/pxwapXjZSMA?t=1143

The project that cannot be loaded is here:
https://data.riverscapes.xyz/#/PUBLIC_DATA/0dc1c4b1-8f5c-4f43-a584-7bf50668fc60

It has something to do with 'id's not being found.

[2021-05-22 17:44] MattReimer opened #21 "Update to support more basemap Types (XYZ and TMS)"
We now have the ability to use more than just WMS baselayers.

We added this to the BaseMaps.xml file here
https://github.com/Riverscapes/RiverscapesXML/pull/85

This request came from an issue requesting Google and Bing baseLayers
https://github.com/Riverscapes/RiverscapesXML/issues/74

filter make sure the layer tile type is being read from Basemaps.xml correctly and then use switch logic to ren

[2021-05-24 18:11] nick4rivers opened #22 "Raster Transparency Error"
Seeing this often when adding raster layers, I think with transparency.

![Screen Shot 2021-05-24 at 11 07 14 AM](https://user-images.githubusercontent.com/34071692/119389529-98c7d180-bc80-11eb-95bc-5b63e07a7992.png)

[2021-05-24 18:24] MattReimer commented on #22
Cool. Thanks for logging this nick. When you attach this can you give me the version of QRAVE you've got and also maybe a project (warehouse link is fine) where you're seeing this?

Just so I don't have to chase any red herrings reproducing.

[2021-05-24 18:32] nick4rivers commented on #22
For sure @MattReimer - and also I just tested this again using the most recent version of Q 3.18 and I'm not getting the error. Still getting this error in 3.16 however.

Using QRAVE 0.3.0.

[2021-05-24 18:59] MattReimer commented on #22
Ah, glad I asked. 0.4.0 is the latest. Give that a try and close this bug if it still happens

FYI the upgrade notifications are pretty bad. Once the experimental flag is turned off we might see better notifications but if not I might look at a custom update mechanism that bypasses QGis entirely

[2021-05-25 17:25] MattReimer opened #23 "Opt out of resource Autoupdates"
There may be a reason why people want to opt-out of autoupdates. We should give them the choice in the options menu

The feature is just an extra checkbox on the options page. The functionality is:

* there should be no automatic updates (the daily ones) if you uncheck the box. \
* The manual resource updating button should still work,.

[2021-05-25 17:50] MattReimer opened #24 "BaseMaps.xml Regions not loading into settings dropdown."
I think it's hardcoding to the first one. This needs to be fixed.

[2021-05-25 19:17] MattReimer commented on #24
false alarm. It's working fine

[2021-05-25 19:17] #24 closed

[2021-05-26 15:49] MattReimer commented on #19
Just to confirm, the task here is to implement all 3 suggestions above

[2021-05-26 16:02] MattReimer commented on #18
I think we've captured all these issues in separate bugs. I'm closing this for now @joewheaton re-open if I've missed anything

#19 #15 #20

[2021-05-26 16:02] #18 closed

[2021-05-28 18:24] MattReimer opened #25 "Prep for 0.5.0"
@KellyMWhitehead we've done a bunch fixes on dev and I think I'd like to publish `0.5.0` next week if there are no issues

The bugs that are going into 0.5.0 are in this milestone:

#### https://github.com/Riverscapes/QRAVEPlugin/milestone/1

### For each issue:

1. Is the issue really fixed?
2. Does it work with different kinds of projects? (Maybe try VBET, RSContext for sure and then anything el

[2021-05-28 18:28] MattReimer commented on #21
@KellyMWhitehead if you're looking for a basemaps file to use for testing there's one in RiverscapesXML here
https://github.com/Riverscapes/RiverscapesXML/blob/google_imagery/BaseMaps.xml

[2021-05-28 18:30] MattReimer commented on #25
I'm closing this. it should really be a pull request

[2021-05-28 18:30] #25 closed

[2021-05-28 18:34] MattReimer commented on #22
@KellyMWhitehead maybe just quickly verify and then close this one. I'm nearly 100% sure it's due to the old version

[2021-05-28 18:39] nick4rivers commented on #22
Yes - I believe this is all good. Thanks guys,

[2021-05-28 18:39] #22 closed

[2021-05-28 22:00] KellyMWhitehead commented on #21
tested and verified working.

[2021-05-28 22:32] KellyMWhitehead commented on #15
fixed and tested.

[2021-05-28 22:32] #15 closed

[2021-05-28 22:55] KellyMWhitehead commented on #20
Error seems to occur when a project has different (or missing?) id's than what the BL is looking for. Strangely, the error is happening when trying to build the [views](https://github.com/Riverscapes/QRAVEPlugin/blob/fd6b28a7c31680f2cd9d77d19fc83c30df82bb3f/src/classes/project.py#L121)

This is not affecting projects with all expected layers and tags.

[2021-05-28 23:08] KellyMWhitehead commented on #23
checked

[2021-05-28 23:08] #23 closed

[2021-05-29 15:55] MattReimer commented on #20
Hmmm. Can we drop a good error into the console logs and fail gracefully?

[2021-06-01 20:55] MattReimer commented on #20
Changes look good. I'm closing this.

[2021-06-01 20:55] #20 closed

[2021-06-01 21:30] MattReimer opened #28 "XPath names being overused"
The tree isn't using the specified labels and always defaults to the Name from the XML file.

[2021-06-01 21:34] MattReimer commented on #28
false alarm. Had a custom VBET business logic lurking in the project path

[2021-06-01 21:34] #28 closed

[2021-06-09 21:56] MattReimer opened #30 "Backslashes (windows) break Linux/OSX"
QRave should be able to handle windows slashes in project files, even on mac.

example:

[code]

On a Mac or linux this will be a path not found.

[2021-06-24 14:10] joewheaton commented on #21
Hey @KellyMWhitehead and @MattReimer. For me, the XML tiles appear to be working in QRAVE. However, for me, I also have those loaded in my Q Browser → XYZ Tiles. For @shelbysawyer, she was having a weird error message and behavior she lays out in [this video](https://youtu.be/jPSs3EkNkSs). I'm wondering @KellyMWhitehead if you tested this for your machine without having all the XYZ tiles already l

[2021-06-24 14:31] MattReimer commented on #21
@joewheaton the first thing I'm going to say without even looking is "try upgrading"

Make sure you're at the latest version of the plugin. The last patch fixed a whole bunch of subtle xyz tile problems.

Now I'll go look at the video

[2021-06-24 14:39] MattReimer commented on #21
Ok, now I've viewed the video. @shelbysawyer unfortunately QGIS just simply does not handle XYZ tiles very well. When you zoom in and the map goes blank that's the system trying to catch up and download the right tiles. Sometimes that process glitches out and you get nothing but I find that panning the map around or just waiting can sometimes bring it back.

The video shows adding tiles using QGIS

[2021-06-24 14:46] MattReimer opened #31 "Second project loaded has no views"
related to https://github.com/Riverscapes/riverscapes-tools/issues/319

This may be a red-herring but it's worth investigating. @joewheaton loaded two VBET projects in QRAVE and the second one had no views listed. If this isn't related to QRAVE and is more of a data issue just close the ticket.

The project loaded was this one:
https://data.riverscapes.xyz/#/PUBLIC_DATA/0dc1c4b1-8f5c-4f43-a584-7bf

[2021-06-24 17:51] shelbysawyer commented on #21
@MattReimer Gotcha-- thanks for laying that all out. I'm relatively new to QGIS and still figuring out where everything lives, the best paths from A to B for certain tasks, etc. Thanks for the help, and I'll keep posting problems as they arise.

[2021-07-06 01:55] joewheaton opened #32 "Close and Open Project Expands other Collapsed Projects"
Version: 0.5.1

Part of keeping the QRAVE tree from being over-whelming is controlling (with businesses logic collapsed tag) whether a project tree is collapsed or not. When a user takes time to control the collapsed state of other open projects, we should NOT mess with that. What is happening is when you open a new project, or close an existing project, then the other projects loose their collaps

[2021-07-06 02:32] MattReimer commented on #32
Agreed. Not sure if we need to track expand/collapse state of every item but there may be some middle ground here.

[2021-08-16 22:56] joewheaton opened #34 "Images from 'dotnetack.md' not displaying images and hyperlinks go to nowhere"
## The Problem
The  update of [Acknowledgements](https://github.com/Riverscapes/RaveAddIn/blob/master/docs/dotnetack.md) associated with completing https://github.com/Riverscapes/RaveAddIn/issues/3 , revealed that any hyperlinks within the acknowledgements do not open in an external browser (what we want) and instead just open within the frame.

![image](https://user-images.githubusercontent.com/9

[2021-08-16 23:00] joewheaton commented on #31
I think this has been solved over in https://github.com/Riverscapes/RiverscapesXML/pull/213

If I am wrong, reopen.

[2021-08-16 23:00] #31 closed

[2021-08-16 23:02] joewheaton commented on #30
So since this fix, we've been using these projects in Windows and not had any problems. I think this can be closed (reopen if someone finds something).

[2021-08-16 23:02] #30 closed

[2021-08-16 23:04] joewheaton commented on #1
This is a fall 2021 task for after the graphic designer is on board.

[2021-08-16 23:05] joewheaton commented on #10
This is a really, really high priority.

[2021-08-16 23:14] joewheaton opened #35 "Add Close All Projects command"
It would be very nice to have a command to "Close All Projects" when we have a lot open.
![image](https://user-images.githubusercontent.com/9723905/111910284-5f77a900-8a26-11eb-92a2-484e278bb06b.png)

This is same feature as: https://github.com/Riverscapes/RaveAddIn/issues/129

[2021-08-16 23:21] joewheaton opened #36 "Close All Projects and Start New Map"
## The Problem

I find myself quite regularly taking advantage of the functionality of having a bunch of riverscapes projects open in RAVE. However, a really common task is to "Close All Projects" and to start a blank new map document.

## Request
Add two commands:
1. **Close All Projects**
2. **Close All Projects and Start New Map**

You see the context in this video:
[![](http://img.youtube.com/

[2021-08-16 23:22] joewheaton opened #37 "Refresh Base Maps Menu Item"
In @joewheaton video attached in issue #10 he demonstrates the value of being able to reload the current base maps. This might be useful if you're using and editing a local, custom base maps XML file within a RAVE session.

This is same as: github.com/Riverscapes/RaveAddIn/issues/11

[2021-08-16 23:26] joewheaton opened #38 "Add "Make Visible in Table of Contents" feature"
This is same as ArcRAVE issue: http://github.com/Riverscapes/RaveAddIn/issues/19

[2021-08-16 23:31] joewheaton opened #39 "Change default projection for first layer added to map from RAVE"
This is same as ArcRAVE issue: https://github.com/Riverscapes/RaveAddIn/issues/39

[2021-08-18 02:25] philipbaileynar commented on #34
I just tested two possible solutions. Neither worked.

## Anchor target attribute

I tried putting in a HTML link with a [target attribute](https://html.com/attributes/a-target/)using the following. Weirdly, this didn't render at all and Jekyll just spat out the raw HTML in the final document. I thought straight HTML got interpreted?

[code]

## Markdown Attributes

I tried an approach that I foun

[2021-08-18 15:23] MattReimer commented on #34
I suspect this could be more about configuring the control itself than anything to do with the markdown. There might be a "render images" checkbox or a "open links in browser" checkbox. I'll take a look when I'm back

[2021-08-20 20:17] joewheaton opened #40 "Close projects who's business logic fails to load"
If a project fails to load (because of an error in business logic), it is still attempting to load in background until you shut down Q. I tried loading VBET 3 hours ago, and I just looked more carefully at Log and it is attempting and failing to load it every time I load other projects or refresh them.

We should recognize what a failure to load looks like (i.e. it is not showing up in tree), and

[2021-08-20 20:21] philipbaileynar opened #41 "Missing XPath Crashes Project Load"
The following [VBET business logic error](https://github.com/Riverscapes/RiverscapesXML/blob/22852bec1838d0202df72f84e249926511eec909/RaveBusinessLogic/VBET.xml#L45) was causing the entire project to not load at all. Notice the empty `xpath` attribute:

[code]

QRAVE needs to be able to handle this more elegantly. Correct behaviour should be to raise a warning and continue loading, skipping the of

[2021-08-20 20:23] philipbaileynar commented on #40
I noticed similar problems trying to debug a business logic problem earlier today (#41). The only way to recover after the project load failed was to quit and restart QGIS.

[2021-08-20 22:46] MattReimer commented on #40
Yup. Right now we don't have a failure state that prevents auto reload.

Gotta be a little careful to think about side effects here because we want to make sure that manual reload ignores this flag so that tool developers and business logic writers can still work without having to restart Q

Luckily this isn't constantly reloading, just Everytime the tree updates. This would be as easy as:

1. Dif

[2021-08-20 23:55] philipbaileynar commented on #40
Good point. [ArcRAVE struggles with this too](https://github.com/Riverscapes/RaveAddIn/issues/136)!

[2021-08-21 14:03] MattReimer commented on #41
Agreed that we should have an error for this. If the layer being referenced was part of a view (or worse a default view) that's probably why we were having the issue.

@philipbaileynar if you still have it can you attach the entire project xml to this ticket or provide a link to the RS warehouse project? We ant to make sure we can repro fully

[2021-08-21 23:09] philipbaileynar commented on #41
- [VBET XML](https://github.com/Riverscapes/RiverscapesXML/blob/e1ef30321af073bc66f30741db08861f53973e29/RaveBusinessLogic/VBET.xml)
- [project.rs.xml.zip](https://github.com/Riverscapes/QRAVEPlugin/files/7026329/project.rs.xml.zip)

I don't think you need the project. It was a BL problem. But it is attached anyway.

[2021-08-22 02:16] MattReimer commented on #41
Thanks. We can also build checks for empty xpaths into the python validator. Might save us even having this problem again

[2021-08-24 18:00] philipbaileynar opened #42 "Add Business Logic File Path to Console Log"
It would be super helpful for debugging to have a console log message that states the location of the business logic XML file every time a project is loaded. It speeds up debugging to know categorically whether QRAVE is using the shipped business logic, or the BL adjacent to the project file.

We don't need this in the "green banner" that appears at the top of the map. Just on the QRAVE tab:

<img

[2021-08-24 18:13] philipbaileynar opened #43 "Error Loading pyBRAT Project For Ally"
@leallysmith is experiencing a similar error to #41 when she tries to load a pyBRAT project curated by @Cashe93. Here's the error message:

![image](https://user-images.githubusercontent.com/8645379/130667579-640bbb62-7403-48b4-93f3-e2380f5a0940.png)

Here is Ally's system:

- QRAVE 3.52
- QGIS 3.20.2
- [pyBRAT project](https://usu.box.com/s/lstcgo1czzaccpcfpeax1ta6sj594mp2)
- She is using the [py

[2021-08-24 19:04] MattReimer commented on #43
Definitely a legitimate error with QRave that needs fixing

[2021-08-24 19:07] MattReimer commented on #42
I thought we did have that. I don't see any "info" messages in the screenshot. Just "warnings". Is it possible that qgis is set to not show anything stronger than a warning?

[2021-08-24 19:37] philipbaileynar commented on #43
Additonal info... @leallysmith  is using a computer that others in the lab were using before she started (i.e. could be dirty system with other lingering files)

[2021-08-24 19:49] philipbaileynar commented on #42
I see the project load message with the project XML path. Nothing for the BL path, and no place to change notification level.

[2021-08-24 19:56] philipbaileynar commented on #43
I had Ally email me her pBRAT.xml business logic from here QRAVE resources folder.

I saved this file into my local copy of the RiverscapesXML master branch. git showed no differences, proving that her QRAVE resource folder contains the same version as GitHub master branch.

[2021-08-24 21:28] joewheaton commented on #43
Not that it helps, but I just downloaded project on my QGIS (QGIS version: 3.20.0-Odense), RAVE 0.5.2 and updated recourses and confirmed I have latest `pyBRAT.xml` business logic. It [worked for me](https://youtu.be/uijwPxwksxY), see:
[![You Tube Video](http://img.youtube.com/vi/uijwPxwksxY/0.jpg)](https://youtu.be/uijwPxwksxY)

@leallysmith it might be helpful for testing this if you recorded a

[2021-08-25 14:10] leallysmith commented on #43
I think I embedded the video? The tutorial links lead to 404 pages. I also pasted in the youtube link itself in case my embed failed. [Link](https://youtu.be/ZD3pVowMZjk)
[![Alt text](https://img.youtube.com/vi/ZD3pVowMZjk/0.jpg)](https://www.youtube.com/watch?v=ZD3pVowMZjk)

[2021-08-25 15:25] MattReimer commented on #43
@leallysmith that's excellent. Thanks for doing that. Should really help us quickly zone in on the problem

[2021-08-25 16:50] philipbaileynar opened #44 "Remembering the Last Project Folder"
# The Problem

It's annoying that each new QGIS session, the first time you click the open project button the file browser dialog defaults to some system folder.

# Requested Feature

Every time that clicking the open project button results in a selected project file (i.e. not when the user cancels the browser dialog) it would be helpful if QRAVE stores the "last used project folder". This last us

[2021-08-29 15:54] MattReimer commented on #21
Closing this as it seems resolved

[2021-08-29 15:54] #21 closed

[2021-08-29 16:07] MattReimer commented on #42
I'll take this on. I'm going to need to be in there anyway

[2021-08-31 20:31] MattReimer commented on #34
Ok, so external links were easy but apparently the control I'm using won't do image downloads and trying to use the QWebEngineView crashes the designer immediately

I'm not alone in my frustration here:
https://github.com/qgis/QGIS/issues/41381

No solution yet. We might need a workaround.

[2021-08-31 21:07] MattReimer commented on #40
For now we'll just log the error and close.

[2021-08-31 23:03] joewheaton commented on #34
One work around for now is we remove images from the markdown.

So am I to understand correctly that getting the links to open in browser was okay?

[2021-08-31 23:09] MattReimer commented on #34
Yeah. The browser pops open just fine.

I think the no images thing is probably the short  term fix. I would like them to load (and there's no reason we shouldn't be able to do that) but the obvious fix didn't work.

I'll leave this open and we'll circle back in the next milestone.

[2021-08-31 23:19] MattReimer commented on #44
Ah, this was easy. I was already reading the setting but I'd forgotten to write to it.

[2021-08-31 23:29] MattReimer commented on #43
Ok. I've reviewed all the videos and evidence provided (big thanks @leallysmith and @joewheaton for the great vidoes) and I think I've got it covered. I'll be putting out a patch release 0.6.0 tomorrow morning and I'll let you know when you can get it and try.

Given the attention to business logic developers I've really tried to give better errors whenever possible but I'll ellaborate on that in

[2021-09-01 23:56] MattReimer opened #46 "setLayerTransparency not working for vector layers"
Seems like `setLayerTransparency` might be new in the API across versions

I think I have a fix for this already but it needs testing

[2021-09-02 00:55] joewheaton commented on #46
This is a pretty low priority as we have a work-around (i.e. specify transparency in symbology files). Moreover, there is no way to apply this setLayerTransparency in Arc as far as we know.

[2021-09-02 15:59] MattReimer commented on #46
Well it's fixed and working so... 😄

[2021-09-02 15:59] #46 closed

[2021-09-02 16:00] MattReimer opened #47 "RS Project ordering on QProject load"
Seems like when we load a QGis project the Rave layers get shuffled.

This is fixed but I'm leaving it here as a reminder and also to verify during testing.

[2021-09-02 16:02] MattReimer opened #48 "Create placeholder empty node for projects that failed to load"
This is related to the fix for #40

For 0.6.0 we flat-out refuse to load the layer and clean it up if it won't parse (with good errors of course) but it could be better.

[2021-09-02 16:02] #40 closed

[2021-09-03 20:00] Cashe93 commented on #43
@MattReimer, any word on the patch release?

[2021-09-03 20:04] MattReimer commented on #43
I'm typing up the release notes now. End of day at the latest.

[2021-09-03 20:06] Cashe93 commented on #43
Awesome, thanks!

[2021-09-03 20:19] #41 closed

[2021-09-03 20:19] #42 closed

[2021-09-03 20:19] #44 closed

[2021-09-05 23:18] joewheaton opened #49 "Remember Position State of Dockable Riverscapes Toolbar QRAVE Panel"
![image](https://user-images.githubusercontent.com/9723905/132143999-92efa786-09f8-431c-ab49-1c14fd1a3f49.png)

Is this possible to control and remember @MattReimer?

[2021-09-06 04:46] MattReimer commented on #49
I don't know offhand.  It's going to need some research

[2021-09-06 04:58] MattReimer commented on #43
I'm closing this with the release (which is out but yet to be approved by OSGEO). I'll reopen this issue if it isn't fixed.

[2021-09-06 04:58] #43 closed

[2021-09-06 16:35] MattReimer opened #50 "Minor issues for 0.7"
I don't want to create separate tickets for little bugs that are 1-line fixes...

* [ ] The About dialog has a cursor in the acknowledgements control
* [ ] Metadata Values that are text and too long just cut off.

[2021-09-07 17:27] MattReimer commented on #43
@leallysmith and @Cashe93 0.6.0 is out (apparently my anouncement message didn't notify people. Sorry)

Please upgrade using the QGIS `Plugins --> Manage and install plugins...` menu.

FYI this patch took a while because of a backlog of other unrelated issues. If this issue still exists get in touch ASAP and the next one will be MUCH faster.

[2021-09-07 20:50] leallysmith commented on #43
Thanks @MattReimer ! Now I've got an issue popping up where some projects open fine and others just give me a generic error that I've put in below. Some of the projects that won't open on my end have run fine on Cashe's system previously.
![QRAVEerror](https://user-images.githubusercontent.com/89225401/132407317-fef7490a-02dd-4f67-8eb7-0437fc18ce12.PNG)
Could you direct me to where I find the QRAV

[2021-09-07 21:07] MattReimer commented on #43
Hey @leallysmith this is all good. I've changed the way we look for and handle errors to be a little more strict, a little more helpful and a lot more consistent.

Also if you can copy and paste the error text directly into github issues that helps us developers out quite a bit.

### Getting to logs

First open the log messages panel. I like to get to it from the toolbar right-click menu:

<img wi

[2021-09-08 19:02] MattReimer opened #51 "Missing Path node causes confusing error"
More business logic stuff. When the `<Path> ` node can't be found it barfs out a bad error which is hard to decipher

[code]

[2021-09-08 19:18] MattReimer opened #52 "Ref inputs bug"
Standalone nodes with the `ref` attribute fail to load.

[2021-09-13 20:48] shelbysawyer commented on #47
@MattReimer I'm still seeing [this issue](https://github.com/Riverscapes/RiverscapesData/issues/56) with project views for QRAVE TauDEM projects. I'm using QRAVE 0.6.0 and [this](https://data.riverscapes.xyz/#/Anabranch/b1c13b18-9e09-413a-b74e-27390e775c3e) TauDEM project.

[2021-09-21 22:29] joewheaton opened #53 "Fix Annoying Little Things"
The new QRAVE 0.6 is really cool. There were at least six steps forward and a few steps back.

- [ ] 1. Fix Adding Default Layers when multiple projects open.
- [ ] 2.
- [ ] x. Project Names (okay this should really migrate to warehouse repo, but

You might notice grumblings in video related to existing issues: #49, #47, especially #32, #19,

[2021-09-21 22:30] joewheaton commented on #36
Note that 0.6 does a nice job (as I point out in #53, the QRAVE 0.6 actually does what we're asking here on create a new Q project.

[2021-09-21 23:10] MattReimer commented on #52
This should be fixed. Looking to test before a patch fix goes out.

[2021-09-21 23:12] MattReimer commented on #53
These are excellent. Thanks for catching all these Joe!

[2021-09-21 23:39] joewheaton commented on #53
Always happy to be a pain in the backside....

[2021-09-28 20:34] joewheaton opened #54 "Add Ability to Repair Broken Riverscape Project Paths (or make relative) in"
One of the cool features of QRAVE is that if you save a `*.qgz` project, it not only saves the layers, but also saves the loaded Riverscapes Projects into RAVE. This was an unexpected cool thing.

However, if your user an idiot (like I was where I picked up `*.qgz` and all the Riverscape Projects and moved them to a new location), you get some critical errors and we provide no way to fix these. It

[2021-09-28 20:35] joewheaton commented on #54
@MattReimer I know you're busy on lots of other things so please feel free to ignore this for now.

[2021-09-28 20:52] joewheaton opened #55 "Is it possible to change the display of `project.rs.xml` in the open dialog to the name of the project?"
@MattReimer please don't read or respond to this now... I am queuing up for when we finally sit down and prioritize warehouse development and make some decisions.

## The Problem
For experienced users, we no longer think twice about the fact that every project (no matter how different) has the exact same name of `project.rs.xml`.  However, this is just wrong. It is unintuitive to new and existing

[2021-10-13 18:04] MattReimer commented on #19
***EDIT: SOMETHING I FORGOT***:

Another thing we should make sure we do is to make sure we enforce the view layer ordering.

[code]

This is essentially a stack. Right now QRave does loop over these layers and add them to the map from top to bottom (i.e. starting with `channel_area_polygons` but since the `add_to_map` function chooses its own order the view order isn't respected.

If we want the

[2021-10-20 19:25] philipbaileynar opened #56 "Implement Query Definition Feature Filtering"
Once we have definition queries in business logic. Need to implement them in ArcRAVE to filter features.

Related Issues

- [Riverscapes XML query definition task](https://github.com/Riverscapes/RiverscapesXML/issues/297)
- [ArcRAVE XML query definition task](https://github.com/Riverscapes/RaveAddIn/issues/172)
- [Early BRAT extent issue](https://github.com/Riverscapes/RaveAddIn/issues/100)

To fi

[2021-10-20 21:10] MattReimer opened #57 "WMS Basemaps not working for ESA World Imagery"
This is related to:

- https://github.com/Riverscapes/RiverscapesXML/pull/302

In Arc we get this:
![unnamed-2](https://user-images.githubusercontent.com/1063391/138172408-7326cea4-93d2-4c30-8414-9bd68d06a776.png)

but in QRave we get only folders:
![unnamed](https://user-images.githubusercontent.com/1063391/138172439-427ac13b-b0f2-45be-ac4b-47fcfa5a76dd.png)

This is probably some part of the WMS

[2021-10-21 19:58] philipbaileynar opened #58 "Desktop RAVE ToC Sample"
Ahead of our conversation on solving layer ordering in desktop RAVE (I don't have time to link to all the tickets), please produce two table of contents:

- [ ] Riverscapes Context
- [ ] VBET

They can be for any HUC/project, but the table of contents should:

- Include every layer in the project
- demonstrate the vertical order of layers in the map
- demonstrate any group layers (ToC folders) req

[2021-10-21 20:35] MattReimer commented on #58
For reference: the main ticket is
- #19

[2021-10-21 21:29] joewheaton commented on #58
BTW... the existing threads in QRAVE are #10, #19 and #47

[2021-10-21 22:53] joewheaton commented on #58
@philipbaileynar this is good to push on. I am not 100% confident that we've seen how this holds up in reach-scale projects like Topo and GUT.  However, let me respond to each of your summaries below trying to keep that in mind:

I am leaning towards yes. I know we have discussed the reasons why that might not be the case, and perhaps we could/should look at some other examples. My recollection is

[2021-10-23 01:23] MattReimer commented on #55
I agree 100% that `project.rs.xml` files aren't intuitive but "Do away with file browser dialogs!" is not the way to go. In QGIS you can use the catalog, you can open a shp file manually OR you can drag a file on top of the app. Seems to me if we want our own project catalog feature we should implement it on top of what we already have and put a catalog icon into our toolbar.

I'm not the end user

[2021-10-25 17:58] philipbaileynar opened #59 "Open New Projects At Top of Project Tree"
When opening a project and there are already open projects in the tree, the newly opened project should be added to the top, not the bottom.

[2021-10-25 18:07] philipbaileynar opened #60 "Opening two projects with the same name"
# Background

Picture two projects on disk of the same type and for the same HUC, but they are physically different. A good example would be the channel area projects for the MHFD that we created with different waterbody options.

When these two projects currently get added to the project tree they have the same name. Worse, when you start adding layers to the map, RAVE gets confused and can add t

[2021-10-25 18:25] philipbaileynar opened #61 "Layer Handling When Adding Project Views To Map"
QRAVE and ArcRAVE handle project views differently:

## QRAVE

QRAVE currently adds a dedicated group layer for the project view and adds the required layers inside this group layer. THis causes duplication and confusion if the layers also exist in the main project ToC group layer.

## ArcRAVE

ArcRAVE simply adds the layers to their appropriate place in the main project ToC group layer. There is

[2021-10-29 01:08] #61 closed, assigned to KellyMWhitehead

[2021-10-29 17:35] #60 closed, assigned to KellyMWhitehead

[2021-10-29 17:37] #56 closed, assigned to KellyMWhitehead

[2021-10-29 17:39] #59 closed, assigned to KellyMWhitehead

[2021-11-02 13:30] joewheaton opened #64 "Minor Bug - Basemap Added to Map on Top.... should always be on bottom."
I'm loving the new QRAVE 0.7.0. One minor bug that may have cropped up when we correctly fixed [adding new projects to top of tree](https://github.com/Riverscapes/QRAVEPlugin/issues/59) is that basemaps no longer preserve their "proper" place and order at bottom of users Layer TOC. We should check this in ArcRAVE too.
![image](https://user-images.githubusercontent.com/9723905/139856437-462a355a-32

[2021-11-05 01:35] joewheaton opened #65 "Minor Bug 0.7 - Button icon is not deploying for "close all projects""
![image](https://user-images.githubusercontent.com/9723905/140443505-270fa77d-6974-4c86-83fe-234b26196f73.png)

I noticed this on three machines.

[2021-11-05 02:12] philipbaileynar commented on #65
@KellyMWhitehead this smells like the file was not included in a deployment manifest or something similar. Any ideas?

[2021-11-06 02:07] joewheaton commented on #65
To further confuse matters, on same machine I stole this from (after a reboot but no concious update of resources), this is now showing up:
![image](https://user-images.githubusercontent.com/9723905/140594263-c0b102d2-d354-4052-b69c-fd0c991d7e5b.png)

Is anyone else experiencing this (e.g. @Riverscapes/riverscape-project-curators)?

[2021-11-06 15:19] shelbysawyer commented on #65
@joewheaton Weird! I've never had this issue.

[2021-11-08 15:35] lauren-herbine commented on #65
@joewheaton it is working as expected for me!

[2021-11-09 00:49] MattReimer opened #66 "Layers cannot have the same name"
Sometimes we have a case like this in the business logic:

[code]

It seems like we're name matching the layers when we add them to the map so we should really do something more to make sure we have uniqueness.

For now we'll just tell people not to do this (looking at you @joewheaton)

For the BRAT case I've added " (All)" to the end of each layer name. It's an imperfect fix but it buys us time t

[2021-11-09 01:56] joewheaton commented on #66
@MattReimer I just checked some projects in WebRAVE and QRAVE and these "temporary" fixes are forcing the desired behavior for the end-user. I like what you're saying here about this not being the ideal final solution, but for our short term problems, this is great.

Thanks!

[2021-11-09 16:04] joewheaton commented on #65
@philipbaileynar this occured on an upgrade in the same QGIS session. We used to have similar issues in Arc Add-Ins. I'm thinking we just leave this as a open minor bug that is unassigned to see if it comes up again.

[2021-11-09 18:31] joewheaton commented on #66
I thought I posted this, but apparently I did not:
[[![Video Link](http://img.youtube.com/vi/eVAG6Tlg3HA/0.jpg)](http://www.youtube.com/watch?v=eVAG6Tlg3HA "")](https://github.com/Riverscapes/RiverscapesXML/pull/375#issuecomment-964343723)

[2021-11-30 21:00] jtgilbert opened #67 "Links from layers to source projects don't work"
When I click the "View Source Riverscape Project" from the QRAVE plugin

I get this in the QRAVE dialog:
![2021-11-30_135735](https://user-images.githubusercontent.com/21687931/144127114-3675723e-5067-4bd6-8153-e741eb1229f0.png)

and this in the python:
![2021-11-30_135811](https://user-images.githubusercontent.com/21687931/144127142-2f337ab5-f81d-48ff-a2cc-b29484f3cc0c.png)

[2021-12-01 01:10] MattReimer commented on #67
@jtgilbert do you have a link or any information about the project you were trying to open? Might be important to the context.

[2021-12-01 20:42] jtgilbert commented on #67
@MattReimer I had open:
BRAT for HUC 17010205 (id: 7ddb38fd-cc95-4e28-bc56-218d8a03cb0c) in Q

None of the links to external projects work for me.

[2021-12-01 23:24] joewheaton commented on #67
@jtgilbert - super minor thing. Instead of:

would be better as:

So we have direct link to project. I do like that you're checking out your old Missoula stomping rounds :)

[2022-01-10 21:54] joewheaton opened #68 "It smells like Repeaters/Realizations (with GUT) don't work in QRAVE?"
So Steve Bennett found an interesting little bug. Talked with @MattReimer
![image](https://user-images.githubusercontent.com/9723905/148845224-b9d7b226-a11e-4f77-8134-67a3b92f6916.png)

[2022-01-10 21:55] MattReimer commented on #68
Feels like the same issue as #66 but may not be.

[2022-01-11 18:23] jtgilbert opened #69 "RIM projects don't open in QRAVE"
They open fine in Arc, but in Q I get this error:
![rim_q_error](https://user-images.githubusercontent.com/21687931/148999681-3c457197-de90-41a5-9b5b-ca1cb2b950ff.png)

[2022-01-12 02:29] joewheaton commented on #69
@KellyMWhitehead any thoughts?

[2022-01-14 17:14] Jdgilby commented on #69
Projects open for me, I have the same version of Q as Jordan.

[2022-01-14 21:19] Jdgilby commented on #69
To update that last comment. Some open and some don't.

[2022-01-18 17:50] #69 closed

[2022-05-17 19:27] MattReimer opened #70 "QA/QC Editing form"
***NB:** this is a continuation of this issue: https://github.com/Riverscapes/RiverscapesXML/issues/410*

## Task outline

The Riverscapes XML now has the ability to contain QA/QC nodes per project. Furthermore the Warehouse API has the ability to find these nodes and display them.

The final piece here is the ability to create these nodes and upload them into the system

- QRave needs to authenti

[2022-05-25 19:37] joewheaton opened #71 "Python error in QGIS"
I'm seeing this in 0.7 of QRAVE in QGIS:

If you go to the Python Errors, this is what it says:

Annoyingly, it is not every time  every time I open QGIS. I will pay more attention to what seems to be the trigger. I have seen this on multiple machines. It might be that it is associated with when I open an existing *.qgz and it was saved with layers added from QRAVE, and then I try to reopen that Q

[2022-07-12 15:01] MattReimer opened #72 "Backward Compatible Projects Warehouse Refactor"
***NB: This task should be done concurrently or after https://github.com/Riverscapes/RiverscapesXML/issues/470***

1. [x] Set up a development environment for QRAVE work. Ask @MattReimer if any of it gives. you trouble.
1. [x] Update `QRAVEPlugin/src/classes/net_sync.py` to make sure the new 2.0 business logic files are being downloaded
1. [x] Add logic to parse the relevant `project.rs.xml` file,

[2022-07-20 18:37] MattReimer opened #73 "Implement TIN Rendering type"
In discussions about upgrading to the new warehouse this week with @kunztr we noticed that `tin` types are not loadable in QRave.

1. Can QGIS render tins in any kind of way?
2. Can we implement a TIN renderer for QRave to support project types like `topo`

[2022-07-28 15:44] jtgilbert opened #75 "Error opening projects"
Josh and I are both getting this error when opening  projects in QRAVE

`Traceback (most recent call last):
  File "C:\Users/jordang/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\qrave_toolbar\src\qrave_toolbar.py", line 355, in projectBrowserDlg
    self.dockwidget.add_project(dialog_return[0])
  File "C:\Users/jordang/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\qrave_

[2022-07-28 22:20] MattReimer commented on #75
Hi @jtgilbert is this all projects or just some?

Can you link to the warehouse (if that's where you got them) so we can reproduce?

[2022-07-29 16:47] jtgilbert commented on #75
@MattReimer I was assuming it was all because Josh and I were opening different projects on different machines. But now I'm downloading BRAT projects and I'm not getting the error but none of the data shows up in the toolbar. It only brings in the project views but there's nothing to add to the map
![qrave_issue](https://user-images.githubusercontent.com/21687931/181806502-989bbd85-18bf-4d9c-9d25-

[2022-07-29 17:07] MattReimer commented on #75
This was an issue of the V2 xmls interfering with the old version of qrave. They have been removed for now.

If anyone is still experiencing this problem try syncing your resources folder from the help menu. That should fix it.

[2022-07-29 17:08] #75 closed

[2022-08-06 18:17] joewheaton commented on #73
@MattReimer assuming you've seen this: https://gis.stackexchange.com/questions/349069/opening-tins-in-qgis

[2022-08-06 18:21] joewheaton commented on #73
See also: https://github.com/lutraconsulting/MDAL/pull/164

[2022-09-17 09:35] joewheaton commented on #64
Can we fix this please? I can't tell you how many thousands of times I find myself wasting time dragging the basemap to the bottom.

[2022-09-19 16:26] MattReimer commented on #64
Hmm. we have an as-of-yet unpublished fix for keeping the tree state: a22fca3

But it does look like this issue hasn't been tackled yet. Maybe we should collect together a few of these bugs and do a new version sometime soon.

[2022-09-19 16:31] philipbaileynar commented on #64
i have code in QRiS for adding basemaps at the bottom. but i haven't looked into qrave code to see if this is straightforward change.

[2022-10-04 20:19] philipbaileynar commented on #71
My suspicion is that this is related to loading QGZ files that attempt to load QRAVE projects. So I tried the following:

# Test 1

1. New, blank QGIS session.
2. Open QRAVE Project.
3. Add Multiple layers to the map.
4. Save QGZ File.
5. Close QGIS.
6. Open QGIS.
7. Load QGZ file created above.

No problems encountered.

# Test 2

Same as test 1. But inbetween step 5 and 6 I moved the QRAVE proje

[2022-10-04 20:48] philipbaileynar commented on #66
FWIW QRiS will never experience this problem because it tags each map layer with the in-memory QRiS object with which it is associated. This allows recursion to then find the map layer by comparing each layer's tag with the same in-memory object. Names are never checked.

The downside of this memory-based matching is that I don't think that we can use QGZ files with QRiS because the QRiS memory ad

[2022-10-05 16:01] #64 closed

[2022-10-05 22:22] MattReimer opened #79 "0.8.0 cannot open projects"
When I install QRave 0.8.0 from the store I am not able to open projects with the following error:

[code]

[2022-10-05 22:30] MattReimer commented on #79
Note. After restarting QGIS I was no longer able to reproduce this error. I'll close the ticket for now and we can re-open if it pops back up.

[2022-10-05 22:30] #79 closed

[2022-10-07 15:46] MattReimer commented on #72
This is complete as of 0.8.0

[2022-10-07 15:46] #72 closed

[2022-10-10 07:12] joewheaton commented on #53
Just drawing attention to these issues again as we think about updates to QRAVE for compatibility with warehouse 3.X and QRiS.

[2022-10-10 07:12] joewheaton opened #80 "Basemaps Collision with QRiS"
Please see https://github.com/Riverscapes/QRiS/issues/120 for full issue. There are aspects to be fixed in both QRAVE and QRiS

[2022-10-11 15:53] MattReimer commented on #80
Issue makes total sense. Basemaps started as a very simple feature and now we need to

**QRAVE tree traversal** in general is a problem we know about. This is not the same issue as #66 but it's related. In order to traverse the tree correctly we are going to need to rework how QRave finds layers, especially in cases where the user is moving folders around in unpredictable ways.

It would be fairly

[2022-10-11 20:55] philipbaileynar commented on #80
1. We should rewrite the way QRAVE adds layers to the map. It currently uses string matching with names, which has caused problems on many occasions. QRiS uses a much leaner method of attaching data to each layer, making layers easier to find without string matching.
2. We have always thought of QRiS and QRAVE in isolation. Each tool has its own group of basemaps at the bottom of it's top level pr

[2022-10-17 18:57] jtgilbert opened #81 "Error handling from project XML error"
A BRAT project.rs.xml with issues caused this error when attempting to open with QRAVE:

`Traceback (most recent call last):
  File "C:\Users/jordang/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\qrave_toolbar\src\qrave_toolbar.py", line 355, in projectBrowserDlg
    self.dockwidget.add_project(dialog_return[0])
  File "C:\Users/jordang/AppData/Roaming/QGIS/QGIS3\profiles\default/pyth

[2022-10-18 19:17] joewheaton commented on #55
This is still an important issue to me.

[2022-10-18 19:23] joewheaton opened #82 "RAVE (or RV) needs a nice catch logo!"
It is pathetic we don't have a RAVE logo and isntead just use the Riverscape Consortium logo. We will need to get this fixed.

[2022-10-18 19:27] MattReimer commented on #55
Now that QRiS is a thing in the world we should include it in this conversation.... when we have it.

[2022-10-21 21:00] MattReimer opened #84 "Absolute paths in QRave QGZ are incorrect"
Currently when you save a QGis project with QRave projects open, those QRave projects get stored inside that project file so that when you open it again you get the same projects opening.

Internally this is handled when you open a project:

https://github.com/Riverscapes/QRAVEPlugin/blob/master/src/dock_widget.py#L210-L211

but there's a problem. We're **storing absolute paths.** There are two re

[2022-10-21 21:05] MattReimer commented on #84
I think we should be able to solve this fairly easily by hooking into the project save and injecting the paths.

<https://gis.stackexchange.com/questions/75221/qgis-action-adding-layers-using-relative-paths>

[code]

[2022-10-21 23:34] MattReimer commented on #84
There is a fix for this now. I need to test it on windows though before we commit to it.

[2022-10-25 10:16] bbelletti opened #86 "OSGEO:QRAVE not installing with QGIS 3.28 - Can't find module lxml"
Error message thrown:
[code]

[2022-10-25 10:17] bbelletti commented on #86
Same error with version 3.4.14

[2022-10-25 15:45] MattReimer commented on #86
I have not been able to reproduce this on any version of QGIS so far on windows 10 64-bit

Here are the versions I've tried:

[code]

### Questions:

Is this a fresh install? Have you customized the python paths or modules in any way? I see a reference to `C:\OSGeo4W/` which makes me think your python interpreter may be referencing the wrong modules folder or something like that.

when you type `i

[2022-10-25 16:39] joewheaton commented on #86
@MattReimer I was working with @bbelletti (you will meet her in November) and had her post this. The Q3.4.14 is an older install, but the Q 3.28.0 was a brand new install. This is a windows machine, but it is configured for French.

@bbelletti are you able to

[2022-10-25 16:42] joewheaton commented on #86
@MattReimer, for what it is worth, when I type in my Q 3.26.3 Python prompt `import lxml`, I get:
[code]
But my system is also successfully running and has QRAVE installed?

My `sys.path` returns:
[code]

[2022-10-25 16:50] MattReimer commented on #86
@joewheaton you have a type. it's not `lxlml`. It's `lxml`

and if QRave is working for you I would not expect an error as we depend on this library heavily. I haven't seen any evidence that lxml has been removed from QGIS or anything drastic like that so I suspect that what we're dealing with here is a configuration issue on one machine.

[2022-10-25 16:57] joewheaton commented on #86
Also, for completeness, we did troubleshoot trying to uninstall and download a zip of a previous release and that didn't work either.

[2022-10-25 17:09] MattReimer commented on #86
Yeah. I should probably refrain from making guesses without debugging thoroughly... but if I had to guess I'd say there's probably an environment variables set on the windows system or windows profile level that's setting PYTHONPATH to something it shouldn't be. This can cause QGIS to get confused about A) which modules to use and B) which version of python to use,.

[2022-10-25 18:40] joewheaton commented on #86
So, for what its worth, on my system (which also has the `lxml` problem in its Python, when I go to `System` → About → Advanced System Settings → Advanced Tab →  Environmental Variables, and reveal Path Settings, this is what I have:
![image](https://user-images.githubusercontent.com/9723905/197855107-b87aa29a-7432-460d-8ee8-eb156f4700ca.png)

I can try and help troubleshoot @bbelletti tomorrow if

[2022-10-25 18:46] MattReimer commented on #86
@joewheaton I don't think you have the same problem, you just mis-typed `lxml`

from the error you sent me: `ModuleNotFoundError: No module named 'lxlml'`

Note the extra `x`?

[2022-10-27 13:42] joewheaton commented on #86
Ha! Good catch @MattReimer. Moving to fast. The problem I have is typing.

[2022-10-28 17:48] MattReimer opened #87 "RAVE Rename across our Org"
***NOTE**: No ETA for this work yet until we figure out the scope of it.*

### Discussed in https://github.com/Riverscapes/QRAVEPlugin/discussions/83

What work do we need to do?

### RiverscapesXML

- [ ] We have a folder called `RaveBusinessLogic`. We can rename this to just `BusinessLogic` so we don't have to do this work again but this is the scariest change and affects all versions of RAVE co

[2022-10-30 12:18] joewheaton opened #88 "Make QRV (and ArcRV) handle Collections"
So, the new warehouse has a great new feature. Collections. RV (RAVE) already allows viewing of multiple projects at once. We don't put limits on it, but if someone tries to do too much, GIS will obviously fall over.

Can we make RAVE aware (maybe not WebRAVE) collections, and have the ability to display multiple projects that are part of a collection?

Thoughts @philipbaileynar and @MattReimer?

[2022-10-30 12:20] joewheaton commented on #88
FYI @nick4rivers

[2022-10-31 16:22] MattReimer commented on #88
Is the question "Can we have QRV be aware of the warehouse collections and consume them somehow?"... potentially. This is a big project though as it requires tight API integration and syncing etc.

Or is the question "can QRV have it's own concept of collections that the user can curate"? Also yes but I'm not sure what this gets us.

I think this ties into a bigger conversation of how the RV produ

[2022-10-31 18:11] joewheaton commented on #88
Thanks @MattReimer. Maybe if what we're talking about right now for the Spring is a Warehouse 3.0 and RV 1.0 and QRiS 1.0 launch/release, the answer is collections are out of scope, but we keep this for a Milestone of Warehouse 3.1 and RV 1.1 and QRiS 1.1 (funding dependent). Another answer is, the user is free to package as many collections as they like in the Warehouse itself, but will not be ab

[2022-11-02 16:10] MattReimer commented on #86
In the end this was not actually a problem. The OSGEO install makes you explicitly install python modules. Once we installed the correct ones (i.e. lxml, scipy and shapely) the plugin started working again.

[2022-11-02 16:10] #86 closed

[2022-11-02 16:15] MattReimer opened #90 "OSGEO Installer workflow"
When the user installs QGIS through the OSGEO installer they are able to pick and choose which python modules they can install.

The user should NOT use pip to install these modules. They should navigate to the `C:\OSGEO4W\bin` folder (or wherever they installed it) and use the `osgeo12-setup.exe` tool to install the modules.

There are some simple mitigation steps we can do to make sure OSGEO ins

[2022-11-02 16:33] MattReimer commented on #90
Note: Re: #86 I installed QGIS using the OSGEO4W installer (QGIS and QGIS-LTR) and it installed all the right modules.

This ticket only applies to non-default, custom installs

[2022-11-02 17:14] joewheaton commented on #86
Thanks a ton @MattReimer for helping @bbelletti and I through this. We got both QRiS and QRAVE going. Just to clarify, QRAVE only needed the `lxml`, whereas QRiS needed `scipy` and `shapely` to work for 0.1.5.

[2022-11-02 17:19] joewheaton commented on #90
@MattReimer I removed scipy and shapely as those were not needed to get QRAVE working. They were needed to get QRiS working. https://github.com/Riverscapes/QRiS/issues/152

[2022-11-02 17:24] MattReimer commented on #90
I think, given that my standard OSGEO4W install did the right thing this ticket's importance drops almost to zero. We can handle the 1% custom cases with a little documentation and some phone calls.

[2022-11-02 17:26] joewheaton commented on #90
Agreed. Maybe we update the QGIS installation instructions to discourage using OSGEO4W, and then have a buried sub-section or page showing that if someone does that form, and doesn't select the right stuff, what to do to fix it.

Can we still improve the error message it throws?

[2022-11-02 17:29] MattReimer commented on #90
For now I'd say no. Too many variations on what could be thrown with a custom installer. Might be worth an investigation task at some point but right now we have bigger 🐟 to 🔥

[2022-11-02 17:33] MattReimer commented on #86
@joewheaton instead of having an individual checklist for each of our plugins (tedious) why not just have a "Recommended modules for Riverscapes tools" list that we maintain in one place?

Again, as far as we know this affects only OSGEO4W installs and only OSGEO4W installs that are non-default so it's a pretty thin slice.